requests
numpy
pandas
matplotlib
scikit-learn
tensorflow
keras
flask
django
beautifulsoup4
selenium
pytest
pytest-django
pytest-flask
flask-restful
openCV-python
plotly
dash
pyqt5
pillow
lxml
sqlalchemy
psycopg2
pyodbc
cx_Oracle
python-dotenv
pyyaml
requests-html
twilio
boto3
awscli
tweepy
google-api-python-client
pika
websockets
redis
celery
celery[redis]
pytest-cov
pytest-mock
paramiko
pytelegrambotapi
telethon
pyshark
pysftp
pycrypto
cryptography
sympy
scipy
statsmodels
seaborn
sqlalchemy-utils
joblib
xgboost
lightgbm
shap
plotly-express
geopandas
folium
networkx
opencv-contrib-python
flask-login
flask-sqlalchemy
flask-wtf
flask-migrate
flask-admin
flask-mail
flask-cors
flask-testing
flask-restplus
flask-celery
flask-apispec
flask-login
flask-babel
flask-wtf
pywebio
dash-bootstrap-components
pyserial
gpiozero
matplotlib-venn
opencv-python-headless
py2exe
pydub
gtts
speechrecognition
pyttsx3
pygame
pyopengl
tkinter
kivy
wxPython
PyAutoGUI
pywin32
win32api
win32com
pyinstaller
py2app
pyqtwebengine
pyside2
pyperclip
requests-oauthlib
requests-cache
pillow-simd
email-validator
flask-caching
flask-oauthlib
pymongo
mongoengine
dnspython
pyodbc
pytest-django
pytest-mock
pytest-cov
pytest-benchmark
nose2
coverage
pytest-xdist
pytest-html
pytest-sugar
pytest-rerunfailures
nose
tox
nose2
pytest-django
pytest-flask
coverage
pytest-cov
pylint
pyflakes
black
autopep8
yapf
mypy
sphinx
sphinx-autodoc-typehints
nltk
spacy
textblob
wordcloud
langdetect
beautifulsoup4
requests-cache
gspread
openpyxl
